* {
    margin: 0;
    padding: 14px;
    font-size: 44px;
    color: white;
}

body{
    background-color: black;
    height: 80vh;
}

header{
    color: yellow;
}

.round{
    color: violet;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 12px;
}

.score, .options, .selection, .message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
